body {
  background-color: #EAF6F6;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

img:hover {
  background-color: gold;
}

.heading {
  color: #F1A661;
}

#unique{
  color: #FF7F3F;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
